STOCK_ANALYZER_MYSQL_ROOT_PASSWORD=root-change-me
STOCK_ANALYZER_DB_HOST=mysql
STOCK_ANALYZER_DB_PORT=3306
STOCK_ANALYZER_DB_NAME=stock_analyzer
STOCK_ANALYZER_DB_USER=stock_analyzer
STOCK_ANALYZER_DB_PASSWORD=change-me

STOCK_ANALYZER_PROVIDER_PRIORITY=miana,tushare,akshare,eastmoney
STOCK_ANALYZER_MIANA_TOKEN=
STOCK_ANALYZER_MIANA_BASE_URL=https://miana.com.cn/api
STOCK_ANALYZER_MIANA_MAX_REQUESTS_PER_MINUTE=500
STOCK_ANALYZER_TUSHARE_TOKEN=

STOCK_ANALYZER_SYNC_ENABLED=true
STOCK_ANALYZER_SYNC_TIME=00:00
STOCK_ANALYZER_TIMEZONE=Asia/Shanghai
STOCK_ANALYZER_SYNC_MAX_WORKERS=8
STOCK_ANALYZER_SYNC_RETRY_MAX_WORKERS=4
STOCK_ANALYZER_SYNC_RETRY_ROUNDS=3
STOCK_ANALYZER_SYNC_INCLUDE_OPTIONAL_METADATA=false
STOCK_ANALYZER_LOG_LEVEL=INFO

PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_DEFAULT_TIMEOUT=120
